.projects {
  margin-top: 108px;
  padding-top: 108px;

  .wrapper {
    padding: 0 20px;
    overflow: hidden;
  }

  .projectCarousel {
    margin-top: 64px;
    display: flex;
    gap: 64px;
    cursor: grab;
    list-style: none;
  }

  .carouselItem {
    padding: 32px;
    border: 2px solid #68696a;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.25s ease;
    min-width: 668px;
    height: 100%;

    &:hover {
      border-color: var(--white);
    }

    .image {
      pointer-events: none;

      img {
        border-radius: 16px;
      }
    }

    h3 {
      font-family: 'Anton', sans-serif;
      font-size: var(--s32);
      font-weight: inherit;
      margin-top: 32px;
    }

    p {
      font-size: var(--s18);
      color: var(--white);
      opacity: 0.7;
      margin-top: 14px;
      margin-bottom: 32px;
      line-height: 1.4;
    }

    .linksWrapp {
      display: flex;
      gap: 32px;

      a {
        font-weight: bold;
        font-size: var(--s18);
      }
    }
  }
}
